body {
  font-family: 'Raleway', sans-serif; /*Fav Fav*/
  background-color: #B38184;
  text-align: center;
}

.logo {
  font-family: 'Clicker Script', cursive;
  float: right !important;
  margin-top: 10px;
  margin-right: 10px;
}

a {
  color: black;
  text-decoration: none;

}

a:hover {
  color: #C3CCAF !important;
  text-decoration: none;
}

.jumbotron {
  background-color: #a5b3aa;
  /* background-color: #512B52 */
  color: aliceblue;
}

#header {
  background-color: #e9ecef;
  color: black;
}
