body {
  font-family: 'Raleway', sans-serif; /*Fav Fav*/
  background-color: #B38184;
  text-align: center;
}

.logo {
  font-family: 'Clicker Script', cursive;
  float: right !important;
  margin-top: 10px;
  margin-right: 10px;
}

a {
  color: black;
  text-decoration: none;

}

a:hover {
  color: #C3CCAF !important;
  text-decoration: none;
}
