.container{
  background: #FFFCDD;
  margin: 0px;
  border-radius: 2.5%;
  width:500px; 
  height: 550px;
  /* align-content: center; */
}

.calc-container{
  width: 300px;
  background-color: #DCF7F3;
  border-radius: 20px;
  padding: 30px;
  padding-top: 55px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.calcInputWindow {
  width: 265px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 2px;
  font-size: 16px;
  font-weight: bold;
}

.numBtn{
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  border: none !important;
  background-color: aliceblue;
  color: black;
}

.numBtn:hover {
  background: #A6B1E1;

}

.mathBtn{
  height: 59px;
  width: 59px;
  margin: 10px 4px;
  border: none !important;
  background-color: #F5A2A2;
}

.mathBtn:hover {
  background: #B37BA4;

}

.equalBtn{
  width: 59px;
  height: 126px;
  margin: 10px 4px;
  border: none !important;
  margin-bottom: -60px;
}

.btn-warning {
  background: #FFD8D8;

}

.btn-warning:hover {
  background: #F6BD60;

}

.btn-danger {
  background: #71A9F7;

}

.btn-danger:hover {
  background: #DD7373;

}
