.jumbotron {
  background-color: #a5b3aa;
  /* background-color: #512B52 */
  color: aliceblue;
}

/* body {
  background-color: #F8F4E4;
} */

/* textarea {
  height: 200px;
} */

/* .form-control {
  width: 400px;
}

@media (min-width: 576px ) {
  .form-control {
   width: 300px;
   display: block;
 }
} */
